.content {
  background-color: midnightblue;
  color: white;
  flex: 0 0 450px;
  overflow: auto;
  padding: 8px 3px;
  margin-right: auto;
}

.checkedTask {
  opacity: 0.7;
  color: white;
  text-decoration-line: line-through;
}

.unchecked {
  font-size: 25px;
  padding: 0;
  color: #6c757d;
  cursor: pointer;
}

.completeBtn {
  padding-right: 0px;
  margin-right: 5px;
  margin-left: auto;
  border: none;
}

.checked {
  font-size: 25px;
  padding: 0;
  color: green;
  cursor: pointer;
}
