.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px;
}
.title {
  font-size: 60px;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  margin: 50px 160px;
}
.span {
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 100px;
  color: midnightblue;
  opacity: 0.1;
}
@media only screen and (max-width: 1020px) {
  .info {
    font-size: 18px;
  }
  .iconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 3px 0px 3px;
    font-size: 8px;
    margin-bottom: 0px;
  }
  .title {
    font-size: 40px;
    margin: 30px 90px;
  }
  .span {
    top: 25%;
    font-size: 60px;
  }
  .cover {
    padding: 0px 0px !important;
  }
}
@media only screen and (max-width: 540px) {
  .info {
    font-size: 14px;
  }
  .iconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 2px 0px 2px;
    font-size: 8px;
    margin-bottom: 0px;
  }
  .title {
    font-size: 40px;
    margin: 20px 60px;
  }
  .span {
    top: 25%;
    font-size: 60px;
  }
  .cover {
    padding: 0px 0px !important;
  }
}
