.aboutSection {
  width: 800px;
  margin: 150px 70px;
}

.title {
  font-size: 40px;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  margin: 50px 60px;
}
.span {
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 80px;
  color: midnightblue;
  opacity: 0.1;
}
.text {
  box-sizing: border-box;
  max-width: 600px;
}

.name {
  font-style: oblique;
  font-weight: bolder;
  color: midnightblue;
}

.btn {
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
}
.btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.btn:hover::after {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .aboutSection {
    width: 400px;
  }
}
@media only screen and (max-width: 510px) {
  .aboutSection {
    width: 200px;
  }
}
