.body {
  /* background-image: linear-gradient(
    to right bottom,
    #d3c9ae,
    #e3e657,
    #8cc0c5,
    #73ade4,
    #b6b9ae
  ); */
  background-image: url(https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg);
  margin: 0px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
